### macOS ###
*.DS_Store

### Node ###
logs
*.log
npm-debug.log*
node_modules/
.npm
package-lock.json

### Sass ###
.sass-cache/
*.css.map

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sumo.sublime-workspace

### Build HTML ###
*.html
!/src/html/*/*.html
